<div class="about-container">
    <img src="./assets/RKF.png">
    <div>
        <h1>About Us</h1>
        <p>
            Bacon ipsum dolor amet buffalo landjaeger swine pancetta. Jowl brisket chicken jerky, turkey cow flank
            salami prosciutto drumstick sausage turducken short loin. Pork jowl pork belly tenderloin, swine pork loin
            rump pig pork chop. Frankfurter alcatra burgdoggen pork kevin meatball picanha ham tail beef. Pork corned
            beef andouille tail.
            <br><br>
            Chislic capicola tri-tip, pork belly pastrami short loin tongue pork chop rump. Tri-tip short ribs drumstick
            filet mignon. Filet mignon pork loin jowl pastrami fatback kevin. Meatloaf short ribs tri-tip spare ribs
            frankfurter cupim sirloin salami doner corned beef ribeye buffalo short loin burgdoggen ball tip. Doner
            drumstick pork chop venison chicken alcatra, leberkas t-bone porchetta filet mignon meatloaf chislic.
        </p>
    </div>
</div>