.about-container {
    margin: 30px;
    overflow: hidden;
    display: flex;
    flex: column;
}

img {
    height: 300px;
    border: 2px solid black;
    float: left;
    margin-right: 20px;
    max-width: 100%;
}

h1 {
    margin-bottom: 0;
    font-weight: bolder;
    font-style: italic;
}

p {
    overflow: hidden;
}

@media (max-width: 768px) {
    .img {
      float: none;
      margin-right: 30px;
    }
  }