<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-nav-list>
      <a mat-list-item routerLink="/home">HOME</a>
      <a mat-list-item routerLink="/about">ABOUT</a>
      <a mat-list-item routerLink="/products">PRODUCTS</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Royal Kingdom Farm</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <br>
    <div class="footer">
        <div>&copy; 2023 Royal Kingdom Farm LLC</div>
        <div>Website created by Eric Zeller</div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
