<h1 class="header">Create New Product</h1>
<form class="example-form" #form="ngForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width">
        <mat-label>Product Name</mat-label>
        <input matInput placeholder="" type="text" name="name" [(ngModel)]="newProduct.productName" required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Ex: Best bacon you ever tasted" name="description"
            [(ngModel)]="newProduct.description" required></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Price</mat-label>
        <input matInput placeholder="" type="number" name="price" [(ngModel)]="newProduct.price" required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Image URL</mat-label>
        <input matInput placeholder="" type="text" name="image" [(ngModel)]="newProduct.imageUrl" required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Pickup On Farm</mat-label>
        <input matInput placeholder="Ex: Yes or No" type="text" name="pickup" [(ngModel)]="newProduct.farmPickUp" required>
    </mat-form-field>
    <div>
        <button type="submit">Submit</button>
        <button routerLink="/products">Back</button>
    </div>
</form>